.FormWrapper {
  width: 100%;
  text-align: center;
}

.FormWrapper2 {
  width: 40%;
  display: inline-flex;
}

.SignUpLoginDiv {
  line-height: 48px;
  height: 50px;
  color: white;
  font-weight: bold;
  width: 50%;
  cursor: pointer;
}

.ActiveDiv {
  background-color: #bba086;
}

.NonActiveDiv {
  background-color: #747774;
}
